@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Libre+Baskerville");

@font-face {
  font-family: 'Aptos';
  src: url('../fonts/Aptos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos-Bold';
  src: url('../fonts/Aptos-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: Arial;
  font-family: 'Aptos', sans-serif;
}


body {
  background-image: url(../img/orange_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
	height: 100vh;
}

h2 {
  margin:0;
}

#image-description-activity-container img {
    height: 374px;       
    width: auto;         
    object-fit: contain;  
    border: 0.3em solid #ccc;
    border-radius: 20px;
    max-width: 500px;
}

#image-description-main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0 5em;
  max-width: 1045px;
  width: 100%;
  margin-top: 0px;
}

#image-description-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
	width: 100%;
	max-width: 1200px;
}

#image-description-header h1 {
  margin: 0 0 0.5em
}

#hg-logo {
  height: 85px;
  border: none;
  border-radius: unset;
}

#image-instructions-p {
  width: 100%;
  max-width: 75%;
  font-size: 1.2em;
  margin-top: 0;
}

#image-description-activity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#mode-waveform-container {
  background-color: #FFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid #EFB310;
  border-radius: 20px;
  padding: 1rem 0;
  height: 250px;
  width: 510px;
}

#mode-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  min-width: 500px;
}

#mode-wrapper button {
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #ccc;
}

#input-wrapper,
#control-buttons {
  display: flex;
  flex-direction: column;
}

#switch-to-typing {
  padding: 0.5em 1em;
  background-color: #F4F4F4;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  width: 160px;
}

.input-icon {
  font-size: 1.5em;
  cursor: default;
  position: relative;
  left: -100px;
  background-color: #EFB310;
  border-radius: 50%;
  width: 35px;
  display: flex;
  justify-content: center;
  padding: 0.1em;
}

#typing-input, #result {
  width: 445px;
  padding: 0.5em;
  background-color: #F4F4F4;
  border: 2px solid #CCC;
}

#typing-input {
  height: 170px;
  font-size: 1.2em;
  resize: none;
}

#result {
  min-height: 1em;
  height: 100px;
  margin: 0;
  overflow: auto;
}

#control-buttons {
  position: relative;
}

#start-button, #compare-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.6em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  min-width: 100px;
  transition: opacity 0.2s ease;
  background-color: #EFB310;
}

#start-button {
  display: block;
}

#compare-button {
  display: none;
}

#waveform {
  position: absolute;
  border: 2px solid #EFB310;
  min-width: 460px;
  height: 50px;
  border-radius: 15px;
  top: 200px;
  background-color: #FDF6E2;
}

#image-description-feedback-container {
  border: 2px solid #EFB310;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  background-color: #FCF8DE;
  min-height: 69px;
}

#image-description-feedback-container p{
  /* font-size: 1.3em; */
  max-width: 400px;
}

#image-description-feedback p{
  font-size: 1.2em;
}

#feedback_heading{
  font-size: 1.3em;
}



/* Media queries */
@media only screen and (max-width: 999px) {
	#image-description-main-container {
		align-items: flex-start;
    padding: 1em;
	}
}

@media only screen and (max-width: 600px) {
	#image-description-main-container {
		padding-top: 0;
	}
	
	#hg-logo {
		height: 40px;
	}
	
	#image-instructions-p {
		max-width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	#image-description-main-container {
		margin: 0;
		padding: 0;
	}
	
	#hg-logo {
    position: relative;
    left: 110px;
		padding-right: 1em;
	}
}